<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/Bienvenido']">
        <img src="favicon.ico" height="50" alt="Imagen para subir"> <br />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" *ngIf="this.puedeNavegar('Registro/Admin')" [routerLink]="['/Registro/Admin']">Registrar usuario<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="this.puedeNavegar('Turnos')" [routerLink]="['/Turnos']">Ver Turnos</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" *ngIf="this.puedeNavegar('Turnos/Cargar')" [routerLink]="['/Turnos/Cargar']">Cargar Turno</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="this.puedeNavegar('Usuarios')" [routerLink]="['/Usuarios']">Ver Usuarios</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/Login']" (click)="onSalir()">Salir</button>
        </div>
    </div>
</nav>