<app-menu></app-menu>
<div class="main-container">
    <div class="register-container">
        <div class="card card-signin flex-row my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Nuevo Turno</h5>
                <form [formGroup]="updateForm" class="form-signin">
                    <div class="flex-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Ingrese un horario desde:</mat-label>
                            <input matInput placeholder="Horario desde" [formControl]="updateForm.controls.desde"
                                required type="time">
                            <mat-error *ngIf="updateForm.controls.desde.invalid">
                                Por favor inserte un horario desde!!
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Ingrese un horario hasta:</mat-label>
                            <input matInput placeholder="Horario hasta" [formControl]="updateForm.controls.hasta"
                                required type="time">
                            <mat-error *ngIf="updateForm.controls.hasta.invalid">
                                Por favor inserte un horario hasta!!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>DIAS DE LA SEMANA</mat-label>
                            <mat-select [formControl]="updateForm.controls.dias" multiple
                                [(ngModel)]="selectSelections">
                                <mat-select-trigger>
                                    {{updateForm.controls.dias.value ? updateForm.controls.dias.value[0] : ''}}
                                    <span *ngIf="updateForm.controls.dias.value?.length > 1"
                                        class="example-additional-selection">
                                        (+{{updateForm.controls.dias.value.length - 1}}
                                        {{updateForm.controls.dias.value?.length === 2 ? 'otra' : 'otras'}})
                                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let dia of diasDeLaSemana" [value]="dia">{{dia}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <hr>
                    <button [ngClass]="{'button-dissabled': updateForm.invalid}"
                        class="btn btn-lg btn-primary btn-block text-uppercase" (click)=actualizarDatos()
                        [disabled]="updateForm.invalid">ACTUALIZAR</button>
                </form>
            </div>
        </div>
    </div>
</div>