<app-menu></app-menu>
<div class="main-container">
    <div class="register-container">
        <div class="card card-signin flex-row my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Nuevo Turno</h5>
                <form [formGroup]="turnoForm" class="form-signin">
                    <div class="flex-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Ingrese un horario:</mat-label>
                            <input matInput placeholder="Horario desde" [formControl]="turnoForm.controls.horario"
                                required type="time">
                            <mat-error *ngIf="turnoForm.controls.horario.invalid">
                                Por favor inserte un horario!!
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Especialidad</mat-label>
                            <mat-select formControlName="especialidad" (selectionChange)="onSeleccionarEspecialidad()">
                                <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad">
                                    {{especialidad.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="turnoForm.controls.especialidad.valid">
                            <mat-label>Especialista</mat-label>
                            <mat-select formControlName="profesional">
                                <mat-option *ngFor="let profesional of profesionales" [value]="profesional">
                                    {{profesional.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Dia</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="dia">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <hr>
                    <button [ngClass]="{'button-dissabled': turnoForm.invalid}"
                        class="btn btn-lg btn-primary btn-block text-uppercase" (click)=pedirTurno()
                        [disabled]="turnoForm.invalid">CARGAR TURNO</button>
                </form>
            </div>
        </div>
    </div>
</div>