<app-menu></app-menu>

<button (click)="profPorDia()">Profesionales por dia que se ingresaron al sistema</button>
<button (click)="profPorHorario()">Profesionales por horario que se ingresaron al sistema</button>
<button (click)="turnosPorEspecialidad()">Turnos por especialidad</button>
<button (click)="turnosPorDia()">Turnos por dia por semana</button>
<button (click)="medicosPorDia()">Medicos por dia</button>
<button (click)="medicosPorTurnos()">Medicos por turnos</button>
<div [chart]="chart"></div>