<app-menu></app-menu>

<mat-table [dataSource]="usuarios" class="mat-elevation-z8">
    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{tiposUsuario[element.tipo]}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="estaAprobado">
        <mat-header-cell *matHeaderCellDef> Confirmar Usuario </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button *ngIf="!element.estaAprobado" mat-raised-button color="primary" (click)="aprobarUsuario(element)">APROBAR USUARIO</button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>