<div class="main-container">
  <div class="register-container">
    <div class="card card-signin flex-row my-5">
      <div class="card-body">
        <h5 class="card-title text-center">PACIENTE</h5>
        <label for="input-image">SELECCIONAR IMAGEN</label>
        <input type='file' (change)="onSelectFile($event)" id="input-image" accept="image/*">
        <img *ngIf="urlImageOne" [src]="urlImageOne" height="200" alt="Imagen para subir"> <br />
        <label for="input-image2">SELECCIONAR IMAGEN</label>
        <input type='file' (change)="onSelectFile($event)" id="input-image2" accept="image/*">
        <img *ngIf="urlImageTwo" [src]="urlImageTwo" height="200" alt="Imagen para subir"> <br />
      </div>
    </div>
  </div>
</div>